html, body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
  background-color: black;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.dg.ac
{
	z-index: 99 !important;
}

a
{
  color: white;
}

a, a:visited, a:active
{
  color: rgb(228, 228, 228);
}

a:hover
{
  color: rgb(255, 255, 255);
}

h2
{
  font-weight: normal;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.infobox
{
	font-family: 'Titillium Web', sans-serif;
	color: rgb(228, 228, 228);
  border-radius: 5px;
  padding: 15px 10px 5px 10px;
  background-color: rgba(60, 60, 60, 0.8);
  line-height: 1.2em;
  width: 450px;
  max-width: 100vw;
  box-sizing: border-box;
}

/* .buttons
{
  text-align: right;
}

.buttons button
{
  background-color: #313636;
  border: 1px solid white;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
}

.buttons button:hover {
  background-color: #090b1d;
  color: white;
} */

.buttonsBig {
  margin-top: 20px; /* Add some space between text and buttons */
}

.buttonsBig button {
  background-color: rgb(19, 19, 19);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 25px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

.buttonsBig button:hover {
  background-color: rgb(43, 43, 43);
  /* color: black; */
}

.highlight
{
  background-color: #245050 !important;
}

.highlight:hover
{
  background-color: #102222 !important;
}

u
{
  border: 1px solid white;
  /* margin: 3px 3px; */
  padding: 3px;
  text-decoration: none;

}